* {
    font-family: 'Mulish', sans-serif;
    transition: 0.4s;
    
}

body{
    margin: 0;
    padding: 0;overflow-x: hidden;
    user-select: none;
}

nav {
    height: 80px;
    background-color: white;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    z-index:2
}

/*NAV LINKS SECTION*/

.nav-links {
    display: flex;
}

.nav-links>div {
    margin: 20px
}

.nav-links>div>a {
    text-decoration: none;
    color: #252b60;
    padding: 5px;
    font-size:  16px; 
    font-family: 'Barlow', sans-serif;  
    font-weight: 500;
}

.nav-links>div>a:hover {
    color: rgb(240, 36, 104);
}

/*NAV BUTTON SECTION*/

.nav-button {
    display: flex;
}

.nav-button>div {
    margin: 3px;
}

.nav-button>div>a {
    text-decoration: none;
    color: rgb(240, 36, 104);
    padding: 17px 44px 17px 44px;
    margin: 2px;
    background-color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Mulish', sans-serif;  
}

.nav-button>div> a:hover {
    background-color: rgb(211, 24, 86) ;
    color: white;
}

.nav-button>div> .active{
    background-color: rgb(240, 36, 104) ;
    color: white;
}

.nav-button>div> .border{
    border: 1px solid rgb(240, 36, 104);
}


/* HOME SECTION */

#home {
    background: url(phoneman.png) no-repeat;
    background-size: 100%;
    height: 800px;
    width: 100%;
    background-color: white;
}

#home> .container {
    display: flex;
    height: 200px;
    width: 80%;
    flex-direction: column;
}

.container> .home-title>p {
    font-size: 80px;
    font-family: "Muli",sans-serif;
    color: #28395a;
    font-weight: 900;
    line-height: 1.3;
    padding-top: 150px;
    margin: 0px 290px 0px 80px ;
}


/* home body */

.home-body{
    display: flex;
    margin: 78px 0px 0px 80px; 
    color: rgb(4, 28, 80);
    box-shadow: 10px 0px 30px rgb(194, 194, 216);
    width: 67.5%;
}

.home-body>div>.input{
    height: 70px;
    background-color: white;
    font-size: 18px;
    padding: 0px 70px 0px 20px;
    border: none;
    border-right: 1px solid rgb(224, 224, 224);
}

::placeholder {
    color: #777777;
}

.home-body>div>.line{
    width: 250px;
    color: #777777;
    font-size: 14px;
}

.home-body>div>a{
    padding: 0px 45px;
    background-color: rgb(240, 36, 104);
    font-size: 14px;
    text-decoration: none;
    color: white;
    line-height: 70px;
    position: absolute;
  }

/* CATEGORY SECTION */

.category {
    height: 1000px;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 200px;
    background-color: white;
  }

  .category>p {
    font-size: 1rem;
    text-align: center;
    padding: 180px 0px 0px 0px;
    color: rgb(240, 36, 104)
}

.category>.category-title {
    color: rgb(3, 25, 71);
    font-size: 50px;
    text-align: center;
    padding: 15px 0px 40px 0px;
    font-weight: 700;
}

.category-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-flex >div {
    background-color: white;
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    width: 220px;
    height: 200px;
    text-align: center;
    border: 1px solid rgb(192, 253, 255);
    transition: .1s !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #014b85;
}

.category-flex >div>i {
    font-size: 50px;
    margin-bottom: 20px;
}

.category-flex >div:hover {
    color: rgb(240, 36, 104) !important;
    box-shadow: 0px 0px 20px rgb(235, 237, 238);
}

.category > .category-flex>div>a {
    text-decoration: none;
    color: #001f38;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.category > .category-flex>div>a:hover {
    text-decoration: none;
    color: rgb(240, 36, 104);
}

.category > .category-flex>div>p {
    color: rgb(240, 36, 104);
    margin: 0px;
}

/* Category link */

.category> .category-link{
    text-align: center;
    margin-top: 70px;
}

.category>div >a {
    text-decoration: none;
    font-size: 14px;
    font-family: 'Mulish', sans-serif ;
    background-color: white;
    padding: 19px 69px;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
    transition: linear .4s;
    box-shadow: inset 0 0 0 0 #8b92dd;
}

.category>div >a:hover {
    color: white;
    background-color: cornflowerblue;
    box-shadow: inset 0 100px 0 0 #8b92dd;
}

/* UPLOAD SECTION */

.upload {
    background: url(woman.png) no-repeat;
    background-size: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.upload> .first {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.upload> .second {
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin: 0px 200px 40px 200px;
    text-align: center;
    line-height: 80px;
}

.upload> .third>a {
    padding: 19px 70px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #8b92dd;
    text-decoration: none;
    color: #8b92dd;
    transition: linear .4s;
    box-shadow: inset 0 0 0 0 #8b92dd;
}

.upload> .third{
    margin-top: 40px;
}

.upload> .third> a:hover{
    color: white;
    background-color: #8b92dd;
    box-shadow: inset 0 100px 0 0 #8b92dd;
}

/* RECENT SECTION */

.recent {
    background-color: white;
    height: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    font-family: 'Mulish', sans-serif;
}

.recent> .first {
    font-size: 18px ;
    color: rgb(240, 36, 104);
    text-align: center;
    padding-top: 200px;
    margin: 0px;
    margin-bottom: 28px;
}

.recent> .second {
    font-size: 50px ;
    color: rgb(3, 25, 71);
    text-align: center;
    font-weight: bold;
    padding-bottom: 70px;
    margin: 0px;
    margin-bottom: 55px;
}

.recent-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mini-flex {
    background-color: white;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 0px 120px;
}

.mini-flex:hover{
    box-shadow: 0px 0px 30px rgb(235, 237, 238);
}

.mini-flex> .image {
    padding: 0px;
    margin: 30px;
    width: 100px;
    border: 1px solid rgb(67, 140, 201);
    border-radius: 4px;
}

.mini-flex> .name {
    padding: 0px;
    margin: 30px 30px 30px 0px;
    width: 600px;
}

.mini-flex> .name>p >a {
    color: rgb(9, 63, 107);
    font-size: 24px;
    text-decoration: none;
}

.mini-flex> .name>p >a:hover {
    color: rgb(54, 118, 170);
}

.mini-flex> .name> .row {
    display: flex;
    flex-direction: row;
}

.mini-flex> .name> .row> div {
    margin-right: 50px;
    font-size: 15px;
    color: grey;
}

.mini-flex> .time {
    padding: 0px;
    margin: 30px 30px 30px 0px;
    width: 200px;
    text-align: center;
}

.mini-flex> .time> div> a {
    text-decoration: none;
    color: rgb(100, 163, 214);
    font-size: 18px;
    background-color: white;
    padding: 8px 39px;
    border: 1px solid rgb(100, 163, 214);
    border-radius: 25px;
}

.mini-flex> .time> div> a:hover {
    background-color: rgb(100, 163, 214);
    color: white;
}

.mini-flex> .time> .clock  {
    font-size: 16px;
    color: rgb(70, 68, 68);
    padding-top: 30px;
}

/* PROCESS SECTION */

.process {
    background-color: rgb(31, 31, 189);
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url(pattern.png) no-repeat;
    font-family: 'Mulish', sans-serif;
}

.process> .first {
    text-align: center;
    font-size: 16px;
    color: rgb(240, 36, 104);
    padding-top: 130px;
    margin-bottom: 28px;
}

.process> .second {
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
    padding-bottom: 50px;
    margin: 0px;
}

.process> .mini {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 150px;
}

.process> .mini> .micro {
    margin: 17px;
    width: 300px;
    height: 75%;
    padding: 40px;
    text-align: center;
    color: white;
    background-color: rgb(19, 20, 110);
}

.process> .mini> .micro> .symbol {
    font-size: 60px;
 }
 
 .process> .mini> .micro> .title {
     font-size: 24px;
     font-weight: bold;
     padding-bottom: 5px;
  }
 
 .process> .mini> .micro> .body {
     font-size: 16px;
     padding-bottom: 10px;
     line-height: 30px;
  }


  /* PERSONNEL SECTION */

  .personnel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #3f4451;
    font-family: 'Mulish', sans-serif;
}

.personnel> div {
    text-align: center;
}

.personnel> div >img {
    margin-top: 150px;
}

.personnel> .name {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 15px;
    margin-top: 20px;
}

.personnel> .position{
    font-size: 14px;
    font-weight: lighter;
    font-style: normal;
    margin: 0px;
    margin-bottom: 20px;
}


.personnel> .about{
    display: flex;
    width: 700px;
    height: 20%;
    font-weight: 300;
    line-height: 1.6;
    font-size: 24px;
    font-style: italic;
    font-family: "Mulish",sans-serif;
    margin-bottom: 30px;
}

/* WHAT SECTION */

.what {
    display: flex;
    width: 100%;
    height: 900px;
    flex-wrap: wrap;
    justify-content: center;
}

.what> .notes {
    width: 500px;
    height: 60%;
    padding: 30px;
    padding-right: 150px;
    margin-left: 60px;
    margin-top: 50px;
}

.what> .notes> .first {
    font-size: 16px;
    color: rgb(240, 36, 104);
    margin: 20px 0px 28px 0px;
   
   
}

.what> .notes> .second {
    font-size: 50px;
    font-weight: 700;
    color: rgb(3, 25, 71);
    line-height: 1.2;
    margin: 0px 0px 35px 0px;
}

.what> .notes> .third {
    font-size: 17px;
    font-weight: 700;
    color: rgb(1, 9, 29);
    margin: 0px 30px 46px 0px; 
    line-height: 30px;
}

.what> .notes> .fourth {
    font-size: 15px;
    color: rgb(8, 29, 75);
    margin: 0px 20px 46px 0px;
    line-height: 30px;
    font-weight: normal;
}

.what> .notes> a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    background-color: #fb246a;
    padding: 22px 55px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    letter-spacing: 1px;
}

.what> .notes> a:hover {
    background-color: rgb(212, 23, 86);
}

.what> .pix {
    background: url(man.png) no-repeat;
    background-size: 130%;
    width: 500px;
    height: 700px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.what> .pix> .year {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2b7b;
    position: relative;
    top: 480px;
    bottom: 0px;
    padding: 59px 28px;
    border-radius: 5px;
    left: -150px;
    text-align: center!important;
    height: 100px;
    width: 150px;
    color: white;
    line-height: 50px;
}

.what> .pix> .year> p{
    font-size: 20px;
    font-weight: normal;
}

.what> .pix> .year> p >span{
    font-size: 60px;
    font-weight: 700;
}


/* NEWS SECTION */

.blogs {
    display: flex;
    height: 1000px;
    width: 100%;
    flex-direction: column;
    text-align: center;
}

.blogs> .first {
    color: rgb(240, 36, 104);
    font-size: 16px;
    padding-top: 0px;
}

.blogs> .second {
    color: rgb(3, 25, 71);
    font-size: 50px;
    font-weight: bold;
    margin: 0px 0px 95px;
}

.blogs> .news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.blogs> .news> .first-news {
    background: url(brainstorm.jpg) no-repeat;
    background-size: 110%;
    width: 500px;
    height: 350px;
    padding: 30px;
    margin: 15px;
    background-color: white;
    text-align: left;
    transition: 2s;
    margin-bottom: 300px;
}

.blogs> .news> .first-news> .time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 34, 34);
    position: relative;
    top: 290px;
    bottom: 0px;
    padding: 45px 25px;
    left: -30px;
    text-align: center!important;
    height: 0px;
    width: 60px;
    color: white;
    line-height: 20px;
}

.blogs> .news> .first-news> .time> p> span{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3;
}

.blogs> .news> .first-news> .time> p{
    font-size: 16px;
}

.blogs> .news> .first-news:hover {  
    background-size: 120%;
}

.blogs> .news> .first-news> .bottom {
    margin-top: 340px;
}

.blogs> .news> .second-news {
    background: url(businessman.jpg) no-repeat;
    background-size: 110%;
    width: 500px;
    height: 350px;
    padding: 30px;
    margin: 15px;
    background-color: white;
    text-align: left;
    transition: 2s;
}

.blogs> .news> .second-news> .time {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 34, 34);
    position: relative;
    top: 290px;
    bottom: 0px;
    padding: 45px 25px;
    left: -30px;
    text-align: center!important;
    height: 0px;
    width: 60px;
    color: white;
    line-height: 20px;
}

.blogs> .news> .second-news> .time> p> span{
    font-size: 25px;
    font-weight: 600;
    line-height: 1.3;
}

.blogs> .news> .second-news> .time> p{
    font-size: 16px;
}

.blogs> .news> .second-news:hover {  
    background-size: 120%; 
}

.blogs> .news> .second-news> .bottom {
    margin-top: 340px;
}

.blogs> .news> .first-news> .bottom> .title, 
.blogs> .news> .second-news> .bottom> .title {
    font-size: 16px;
    color: rgb(8, 35, 94);
    font-weight: normal;
    margin: 0px !important;
}

.blogs> .news> .first-news> .bottom> .read> a, 
.blogs> .news> .second-news> .bottom> .read> a {
    font-size: 24px;
    color:rgb(3, 25, 71) ;
    text-decoration: none;
    line-height: 1.4;
    font-weight: 700;
    margin: 0px !important;
}

.blogs> .news> .first-news> .bottom> .read> a:hover, 
.blogs> .news> .second-news> .bottom> .read> a:hover {
    color: rgb(240, 36, 104);
}

.blogs> .news> .first-news> .bottom> .link> a, 
.blogs> .news> .second-news> .bottom> .link> a {
    font-size: 14px;
    color:rgb(3, 25, 71) ;
    text-decoration: none;
    font-weight: normal;
}

.blogs> .news> .first-news> .bottom> .link> a:hover, 
.blogs> .news> .second-news> .bottom> .link> a:hover {
    font-size: 25px;
    color:rgb(13, 49, 126) ;
}


/* LAST SECTION */

.last {
    display: flex;
    width: 100%;
    height: 700px;
    background-color:rgb(0, 10, 32) ;
    color: white;
    flex-wrap: wrap;
    font-family: 'Mulish', sans-serif;
}

.last> .first {
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
}

.last> .first> div {
    display: flex;
    width: 250px;
    height: 250px;
    flex-direction: column;
    margin: 10px 20px 5px 20px;
    text-align: left;
}

.last> .first> div> .title {
    font-size: 20px;
    font-weight: 400;
}

.last> .first> div> .body {
    font-size: 16px;
    font-weight: normal;
    color: #868c98;
    line-height: 1.8;
}

.last> .first> div> .body> a{
    text-decoration: none;
    color: #868c98;
    font-size: 16px;
    line-height: 1.8;
}

.last> .first> div> .body> a:hover {
    text-decoration: none;
    color: rgb(240, 36, 104);
}

.last> .first> div> ul> li> a {
    text-decoration: none;
    color: #868c98;
    font-size: 16px;
    list-style-type: none;
    line-height: 1.8;
}

.last> .first> div> ul> li> a:hover {
    color: rgb(240, 36, 104);
}

.last> .first> div> ul> li {
    list-style-type: none;
}

.last> .first> div> p> input {
    background-color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 30px;
}


.last> .second {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0px;
    margin-left: 100px;
    text-align: left;
    height: 100px;
}

.last> .second> div {
    margin: 0px 150px 0px 0px;
    font-size: 16px;
    font-weight: normal;
}

.last> .second> div> span  {
    font-size: 24px;
    font-weight: 500;
}

.last> .copyright {
    height: 100px;
    width: 100%; 
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    margin: 0px 100px;
    border-top: 1px solid #888888;
}

.last > .copyright> .by{
     color: #888888;
     font-size: 16px;
     font-weight: 300;
}

.last > .copyright> .by> a{
    text-decoration: none;
    color: #fb246a;
}

.last > .copyright> .by> a:hover{
    color: white;
}

.last > .copyright> .icons{
    word-spacing: 15px;
}
.last > .copyright> .icons> a{
    color: #888888;
    text-decoration: none;
    font-size: 14px; 
}
